.list a
{
    text-decoration: none;
}
.list
{
    text-align: center;
}
*
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image:url("i4.jpg");
}
h2{
    text-align: center;
}